<%=form_for [@security_level,@page] do |form| %>

	<input id="page_controller_name" name="page[controller_name]" type="hidden">
	<input id="page_action_name" name="page[action_name]" type="hidden">
	
	<div class="form-group">
		 <select class="form-control" id="page_path">
            <option>Select path</option>
            <% get_routes.each do |route|%>
            	<%controller_path =route.defaults[:controller].to_s%>
	            <%if valid_route controller_path %>
	            <option> <%=controller_path+"#"+route.defaults[:action].to_s %> </option>	
	            <%end%>
            <%end%>
        </select>
    </div>

    <%= form.submit 'Add', :class => 'button right' %>
	
<%end%>