<h3>Page Rights</h3>
<%@pages.each do |page|%>
	<td>
		<%=page.controller_name%>#<%=page.action_name%>
	</td>
<%end%>

<% if @security_level.level!="high" %>
	<p>
	<%=link_to "Add page accessible by this security level",new_security_level_page_path(@security_level)%>
	</p>
<%else%>
<p>This level can access all pages</p>
<%end%>