<td>
  <%=page.controller_name%>#<%=page.action_name%>
</td>
<td><%=link_to "Delete Page",security_level_page_path(@security_level,page),:data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs'%></td>